<ul class="nav navbar-nav navbar-left">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">NBA Teams <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'Atlanta Hawks', page_path('nba_franchises/atlanta_hawks') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Boston Celtics', page_path('nba_franchises/boston_celtics') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Brooklyn Nets', page_path('nba_franchises/brooklyn_nets') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Charlotte Hornets', page_path('nba_franchises/charlotte_hornets') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Chicago Bulls', page_path('nba_franchises/chicago_bulls') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Cleveland Cavaliers', page_path('nba_franchises/cleveland_cavaliers') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Dallas Mavericks', page_path('nba_franchises/dallas_mavericks') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Denver Nuggets', page_path('nba_franchises/denver_nuggets') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Detroit Pistons', page_path('nba_franchises/detroit_pistons') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Golden State Warriors', page_path('nba_franchises/golden_state_warriors') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Houston Rockets', page_path('nba_franchises/houston_rockets') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Indiana Pacers', page_path('nba_franchises/indiana_pacers') %></li>
      <li class="divider"></li>
      <li><%= link_to 'LA Clippers', page_path('nba_franchises/la_clippers') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Los Angeles Lakers', page_path('nba_franchises/los_angeles_lakers') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Memphis Grizzlies', page_path('nba_franchises/memphis_grizzlies') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Miami Heat', page_path('nba_franchises/miami_heat') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Milwaukee Bucks', page_path('nba_franchises/milwaukee_bucks') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Minnesota Timberwolves', page_path('nba_franchises/minnesota_timberwolves') %></li>
      <li class="divider"></li>
      <li><%= link_to 'New Orleans Pelicans', page_path('nba_franchises/new_orleans_pelicans') %></li>
      <li class="divider"></li>
      <li><%= link_to 'New York Knicks', page_path('nba_franchises/new_york_knicks') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Oklahoma City Thunder', page_path('nba_franchises/oklahoma_city_thunder') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Orlando Magic', page_path('nba_franchises/orlando_magic') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Philadelphia 76ers', page_path('nba_franchises/philadelphia_76ers') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Phoenix Suns', page_path('nba_franchises/phoenix_suns') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Portland Trailblazers', page_path('nba_franchises/portland_trailblazers') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Sacramento Kings', page_path('nba_franchises/sacramento_kings') %></li>
      <li class="divider"></li>
      <li><%= link_to 'San Antonio Spurs', page_path('nba_franchises/san_antonio_spurs') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Toronto Raptors', page_path('nba_franchises/toronto_raptors') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Utah Jazz', page_path('nba_franchises/utah_jazz') %></li>
      <li class="divider"></li>
      <li><%= link_to 'Washington Wizards', page_path('nba_franchises/washington_wizards') %></li>
      <li class="divider"></li>
    </ul>
  </li>
</ul>